<table>
  <thead>
    <tr>
      <th class="rank">#</th>
      <th>Route</th>
      <th>Distance</th>
      <th>Flights</th>
    </tr>
  </thead>
  <tbody>
    {% for fids, route in routes.items() %}
    <tr>
      <td class="rank">{% if loop.first or route.get("rank") != loop.previtem[1].get("rank") %}{{ route.get("rank") }}{% else %}⋮{% endif %}</td>
      <td>
        <a href="{{ url_for('show_route', origin_airport_fid=fids[0], destination_airport_fid=fids[1]) }}">
          {% if route.get("origin_airport") is not none %}<span class="code">{{ route["origin_airport"].code() }}</span>{% endif %}
          &rarr;
          {% if route.get("destination_airport") is not none %}<span class="code">{{ route["destination_airport"].code() }}</span>{% endif %}
        </a>
      </td>
      <td>{% if route.get("distance_mi") is not none %}{{ route["distance_mi"] }} mi{% endif %}</td>
      <td>{{ route.get("count") }}</td>
    </tr>
    {% endfor %}
    <tr class="total">
      <td colspan="4">{{ routes | length }} route{% if (routes | length) != 1 %}s{% endif %}</td>
    </tr>
  </tbody>
</table>