{% extends "base.html" %}
{% block title %}{{ operator.get("name") }}{% endblock %}
{% block type %}Operator{% endblock %}

{% block card_content %}
<div class="card-content-general">
  {% if operator.get("iata_code") is not none %}<div><div class="card-label">IATA Code</div><div>{{ operator.get("iata_code") }}</div></div>{% endif %}
  {% if operator.get("icao_code") is not none %}<div><div class="card-label">ICAO Code</div><div>{{ operator.get("icao_code") }}</div></div>{% endif %}
  <div><div class="card-label">Operated Flights</div><div>{{ flights | length }}</div></div>
</div>
{% endblock %}

{% block content %}

<h2>{{ operator.get("name") }} Operated Airlines</h2>
{% include "_partials/airline_table.html" %}

<h2>{{ operator.get("name") }} Operated Aircraft Types</h2>
{% include "_partials/aircraft_type_table.html" %}

<h2>{{ operator.get("name") }} Operated Classes</h2>
{% include "_partials/class_table.html" %}

<h2>{{ operator.get("name") }} Operated Flights</h2>
{% include "_partials/flight_table.html" %}
{% endblock content %}
