{% extends "base.html" %}
{% block title %}{{ operator.get("name") }}{% endblock %}
{% block type %}Operator{% endblock %}
{% block content %}
<table class="summary">
  <thead>
    <tr>
      <th>IATA</th>
      <th>ICAO</th>
      <th>Operated Flights</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><span class="code">{{ operator.get("iata_code") }}</span></td>
      <td><span class="code">{{ operator.get("icao_code") }}</span></td>
      <td>{{ flights | length }}</td>
    </tr>
  </tbody>
</table>

<h2>{{ operator.get("name") }} Operated Airlines</h2>
{% include "_partials/airline_table.html" %}

<h2>{{ operator.get("name") }} Operated Aircraft Types</h2>
{% include "_partials/aircraft_type_table.html" %}

<h2>{{ operator.get("name") }} Operated Classes</h2>
{% include "_partials/class_table.html" %}

<h2>{{ operator.get("name") }} Operated Flights</h2>
{% include "_partials/flight_table.html" %}
{% endblock content %}
