{% extends "base.html" %}
{% block title %}{{ airline.get("name") }}{% endblock %}
{% block type %}Airline{% endblock %}

{% block card_content %}
<div class="card-content-general">
  {% if airline.get("iata_code") is not none %}<div><div class="card-label">IATA Code</div><div>{{ airline.get("iata_code") }}</div></div>{% endif %}
  {% if airline.get("icao_code") is not none %}<div><div class="card-label">ICAO Code</div><div>{{ airline.get("icao_code") }}</div></div>{% endif %}
  <div><div class="card-label">Marketed Flights</div><div>{{ flights | length }}</div></div>
</div>
{% endblock %}

{% block content %}

<h2>{{ airline.get("name") }} Operators</h2>
{% include "_partials/operator_table.html" %}

<h2>{{ airline.get("name") }} Aircraft Types</h2>
{% include "_partials/aircraft_type_table.html" %}

<h2>{{ airline.get("name") }} Classes</h2>
{% include "_partials/class_table.html" %}

<h2>{{ airline.get("name") }} Flights</h2>
{% include "_partials/flight_table.html" %}
{% endblock content %}
