{% extends "base.html" %}
{% block title %}{{ tail_number_record.get("formatted") }}{% endblock %}
{% block type %}Tail{% endblock %}

{% block card_content %}
<div class="card-content-general">
  <div><div class="card-label">Flights</div><div>{{ flights | length }}</div></div>
</div>
{% endblock %}

{% block content %}

<h2>{{ tail_number_record.get("formatted") }} Airlines</h2>
{% include "_partials/airline_table.html" %}

<h2>{{ tail_number_record.get("formatted") }} Operators</h2>
{% include "_partials/operator_table.html" %}

<h2>{{ tail_number_record.get("formatted") }} Aircraft Types</h2>
{% include "_partials/aircraft_type_table.html" %}

<h2>{{ tail_number_record.get("formatted") }} Classes</h2>
{% include "_partials/class_table.html" %}

<h2>{{ tail_number_record.get("formatted") }} Flights</h2>
{% include "_partials/flight_table.html" %}
{% endblock content %}
