{% extends "base.html" %}
{% set breadcrumbs=[("Home", url_for("home")), ("Airports", url_for("index_airports")), (airport.iata_or_name(), None)] %}
{% block title %}{{ airport.get("name") }}{% endblock %}
{% block content %}
<table class="summary">
  <thead>
    <tr>
      <th>IATA Code</th>
      <th>ICAO Code</th>
      <th>FAA LID</th>
      <th>Visits</th>
      <th>Flights</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><span class="code">{{ airport.get("iata_code") }}</span></td>
      <td><span class="code">{{ airport.get("icao_code") }}</span></td>
      <td><span class="code">{{ airport.get("faa_lid") }}</span></td>
      <td>{{ airport.get("visits") }}</td>
      <td>{{ flights | length }}</td>
    </tr>
  </tbody>
</table>

<h2>{{ airport.iata_or_name() }} Airlines</h2>
{% include "_partials/airline_table.html" %}

<h2>{{ airport.iata_or_name() }} Operators</h2>
{% include "_partials/operator_table.html" %}

<h2>{{ airport.iata_or_name() }} Aircraft Types</h2>
{% include "_partials/aircraft_type_table.html" %}

<h2>{{ airport.iata_or_name() }} Classes</h2>
{% include "_partials/class_table.html" %}

<h2>{{ airport.iata_or_name() }} Flights</h2>
{% with include_cumulative_airport_visits = True %}
  {% include "_partials/flight_table.html" %}
{% endwith %}
{% endblock content %}
