@font-face {
    font-family: "IBM Plex Sans";
    src: url("../fonts/IBM_Plex_Sans_Var_Roman.woff2") format("woff2-variations");
    font-weight: 100 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "IBM Plex Sans";
    src: url("../fonts/IBM_Plex_Sans_Var_Italic.woff2") format("woff2-variations");
    font-weight: 100 700;
    font-style: italic;
    font-display: swap;
}
@font-face {
    /* No styles currently use monospace italic, so it has been deliberately excluded. */
    font-family: "IBM Plex Mono";
    src: url("../fonts/IBM_Plex_Mono_Var_Roman.woff2") format("woff2-variations");
    font-weight: 100 700;
    font-display: swap;
}

:root {
    --color-card:             hsl(210, 70%, 60%);
    --color-background-page:  hsl(210, 5%, 95%);
    --color-background-light: hsl(210, 20%, 90%);
    --color-border:           hsl(210, 30%, 80%);

    --color-text:             hsl(210, 10%, 10%);
    --color-text-light:       hsl(210, 10%, 60%);

    --color-link:             hsl(210, 100%, 50%);
    --color-link-hover:       hsl(210, 100%, 70%);

    --weight-bold: 700;
    --weight-text: 450;
    --weight-light: 300;

    --border-heavy: 2px solid var(--color-border);
    --border-normal: 1px solid var(--color-border);
    --border-light: 1px dotted var(--color-border);
    font-size: 14pt;
}

body {
    font-size: 14pt;
    font-weight: var(--weight-text);
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: var(--color-background-page);
    color: var(--color-text);
}
a {
    color: var(--color-link);
    text-decoration: none;
}
a:hover {
    color: var(--color-link-hover);
}
div.body-container {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 192px minmax(0, 1fr);
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 800px) {
    div.body-container {
        grid-template-columns: 1fr;
    }
}

main {
    padding: 1rem;
    background-color: #ffffff;
}

nav#sidebar {
    background-color: hsl(210, 60%, 30%);
    color: #ffffff;
    padding: 0.5rem;

    a {
        color: #ffffff;
    }
    a:hover {
        color: var(--color-link-hover);
    }
    div.sidebar-site-title {
        font-weight: var(--weight-bold);
    }
    ul {
        list-style-type: none;
        padding-left: 1rem;
    }
    ul.sidebar-root {
        list-style-type: none;
        padding-left: 0;
    }
}

h1 {
    margin-top: 0;
}

div.card {
    width: 100%;
    margin: 0 0 1.5rem 0;
    padding: 0;
    background-color: var(--color-background-light);
    border: 1px solid var(--color-card);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    text-align: center;
    border-radius: 0.25rem;

    div.entity-type {
        padding: 0.5rem;
        color: white;
        background-color: var(--color-card);
        font-weight: var(--weight-bold);
    }
    div.card-body {
        padding: 0.5rem;
    }

    h1 {
        margin: 0;
    }
    h1.pre-card-content {
        border-bottom: 1px solid var(--color-card);
        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
    }

    div.card-content-flight {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        gap: 0.5rem 0.5rem;
        div {
            text-align: center;
        }
        .flight-card-head {
            font-weight: var(--weight-bold);
            font-size: 250%;
        }
        .flight-card-airport-name {
            font-weight: var(--weight-bold);
        }
    }
}

img.class-quality-stars {
    width: 100px;
    height: 24px;
    vertical-align: text-bottom;
}
img.logo-icon {
    width: 48px;
    height: 24px;
    vertical-align: text-bottom;
}
span.code, a.code {
    font-family: 'IBM Plex Mono', monospace;
}
span.current-airport {
    font-weight: var(--weight-bold);
}
span.supplemental {
    font-size: smaller;
    color: var(--color-text-light);
}
table {
    border-collapse: collapse;
    border-top: var(--border-normal);
    border-bottom: var(--border-normal);
    margin-left: auto;
    margin-right: auto;
}
table.flight-details {
    img {
        margin-bottom: 0.5rem;
    }
}
th, td {
    padding: 0.5rem;
    text-align: center;
    font-variant-numeric: tabular-nums;
}
thead {
    background-color: var(--color-background-light);
    border-bottom: var(--border-heavy);
}
tr {
    border-bottom: var(--border-normal);
}
tr.continue {
    border-bottom: var(--border-light);
}
tr.total {
    border-top: var(--border-heavy);
    background-color: var(--color-background-light);
}
td.aircraft-name {
    font-style: italic;
}
td.rank {
    color: var(--color-text-light);
}