@font-face {
    font-family: "IBM Plex Sans";
    src: url("../fonts/IBM_Plex_Sans_Var_Roman.woff2") format("woff2-variations");
    font-weight: 100 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "IBM Plex Sans";
    src: url("../fonts/IBM_Plex_Sans_Var_Italic.woff2") format("woff2-variations");
    font-weight: 100 700;
    font-style: italic;
    font-display: swap;
}
@font-face {
    /* No styles currently use monospace italic, so it has been deliberately excluded. */
    font-family: "IBM Plex Mono";
    src: url("../fonts/IBM_Plex_Mono_Var_Roman.woff2") format("woff2-variations");
    font-weight: 100 700;
    font-display: swap;
}

body {
    font-size: 14pt;
    font-weight: 450;
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #eeeeee;
}
div.body-container {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 192px minmax(0, 1fr);
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 800px) {
    div.body-container {
        grid-template-columns: 1fr;
    }
}

nav#sidebar {
    background-color: #cccccc;
    padding: 0.5em;

    div.sidebar-site-title {
        font-weight: bold;
    }
    ul {
        list-style-type: none;
        padding-left: 1em;
    }
    ul.sidebar-root {
        list-style-type: none;
        padding-left: 0;
    }
}
main {
    padding: 1em;
    background-color: #ffffff;
}
h1 {
    margin-top: 0;
}
img.icon {
    width: 48px;
    height: 24px;
    vertical-align: middle;
    margin-right: 0.5em;
}
span.code {
    font-family: 'IBM Plex Mono', monospace;
}
table {
    border-collapse: collapse;
}
th, td {
    padding: 0.5em;
    text-align: left;
}
thead {
    border-bottom: 2px solid #cccccc;
}
tr {
    border-bottom: 1px solid #cccccc;
}
tr.continue {
    border-bottom: 1px dotted #cccccc;
}
th.airport-visits, td.airport-visits, th.count, td.count {
    text-align: center;
    font-variant-numeric: tabular-nums;
}
th.iata-code, td.iata-code, th.icao-code, td.icao-code {
    text-align: center;
}
th.flight-route, td.flight-route {
    text-align: center;
}
th.rank, td.rank {
    text-align: center;
}
td.rank {
    color: #999999;
}