<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}PBTravelLog{% endblock %}</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="body-container">
    <nav id="sidebar">
      <div class="sidebar-site-title"><a href="/">PBTravelLog</a></div>
      <ul class="sidebar-root">
        <li>
          Flights
          <ul>
            <li>Airports</li>
            <li>Airlines</li>
          </ul>
        </li>
      </ul>
    </nav>
    <main>
      <h1>{{ self.title() }}</h1>
      {% block content %}{% endblock %}
    </main>
  </div>
  
</body>
</html>