{% extends "base.html" %}
{% block title %}Tail Numbers{% endblock %}
{% block content %}
<table>
  <thead>
    <th class="rank">#</th>
    <th>Tail</th>
    <th>Equipment</th>
    <th class="count">Flights</th>
  </thead>
  <tbody>
    {% for tail in tails %}
    <tr>
      <td class="rank">{% if loop.first or tail.rank != loop.previtem.rank %}{{ tail.rank }}{% else %}⋮{% endif %}</td>
      <td><span class="code">{{ tail.tail_number }}</span></td>
      <td>{{ tail.aircraft_type_name }}</td>
      <td class="count">{{ tail.count }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}