{% extends "base.html" %}
{% block title %}{{ airport.name }}{% endblock %}
{% block content %}
<table class="summary">
  <thead>
    <tr>
      <th>IATA Code</th>
      <th>ICAO Code</th>
      <th>FAA LID</th>
      <th>Visits</th>
      <th>Flights</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><span class="code">{{ airport.iata_code }}</span></td>
      <td><span class="code">{{ airport.icao_code }}</span></td>
      <td><span class="code">{{ airport.faa_lid }}</span></td>
      <td>{{ airport.visits }}</td>
      <td>{{ flights | length }}</td>
    </tr>
  </tbody>
</table>

<h2>Airlines Using {{ airport.iata_code if airport.iata_code else airport.name }} ({{ airlines | length }})</h2>

{% with airlines=airlines %}
  {% include "partials/airline_table.html" %}
{% endwith %}

<h2>Operators Using {{ airport.iata_code if airport.iata_code else airport.name }} ({{ operators | length }})</h2>
{% with airlines=operators %}
  {% include "partials/airline_table.html" %}
{% endwith %}

<h2>Aircraft Families Using {{ airport.iata_code if airport.iata_code else airport.name }} ({{ operators | length }})</h2>
{% include "partials/aircraft_family_table.html" %}

<h2>Flights Using {{ airport.iata_code if airport.iata_code else airport.name }} ({{ flights | length }})</h2>
{% include "partials/flight_table.html" %}
{% endblock content %}
