{% extends "base.html" %}
{% set breadcrumbs=[("Home", "/"), ("Aircraft Types", "/aircraft/"), (aircraft_type.name, None)] %}
{% block title %}{{ aircraft_type.manufacturer }} {{ aircraft_type.name }}{% endblock %}
{% block content %}
<table class="summary">
  <thead>
    <tr>
      <th>IATA</th>
      <th>ICAO</th>
      <th>Flights</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><span class="code">{{ aircraft_type.iata_code }}</span></td>
      <td><span class="code">{{ aircraft_type.icao_code }}</span></td>
      <td>{{ flights | length }}</td>
    </tr>
  </tbody>
</table>

<h2>{{ aircraft_type.manufacturer }} {{ aircraft_type.name }} Airlines</h2>
{% include "partials/airline_table.html" %}

<h2>{{ aircraft_type.manufacturer }} {{ aircraft_type.name }} Operators</h2>
{% include "partials/operator_table.html" %}

<h2>{{ aircraft_type.manufacturer }} {{ aircraft_type.name }} Flights</h2>
{% include "partials/flight_table.html" %}
{% endblock content %}
