{% extends "base.html" %}
{% import "macros/icons.html" as icons %}
{% set breadcrumbs=[("Home", "/"), ("Flights", "/flights/"), (flight.name, None)] %}
{% block title %}{{ flight.name }}{% endblock %}
{% block content %}

{% if flight.comments %}
<p>{{ flight.comments }}</p>
{% endif %}

<div class="flight-card">
  <!-- Code -->
  <div class="flight-card-airport">
    <span class="flight-card-head">{{ flight.origin_airport_code }}</span><br>
    <a href="/airports/{{ flight.origin_airport_fid }}.html">{{ flight.origin_airport_name }}</a></div>
  <div class="flight-card-airport">
    <span class="flight-card-head">&rarr;</span>
  </div>
  <div class="flight-card-airport">
    <span class="flight-card-head">{{ flight.destination_airport_code }}</span><br>
    <a href="/airports/{{ flight.destination_airport_fid }}.html">{{ flight.destination_airport_name }}</a>
  </div>
  <!-- Local Time -->
  <div class="flight-card-dt-local">{{ flight.departure_local | format_dt(include_time=True, include_tz=True) }}</div>
  <div class="flight-card-dt-local">{% if flight.duration_h_m %}{{ flight.duration_h_m[0] }}h {{ "%02d" | format(flight.duration_h_m[1]) }}m{% endif %}</div>
  <div class="flight-card-dt-local">{{ flight.arrival_local | format_dt(include_time=True, include_tz=True) }}</div>
</div>

<table class="flight-details">
  {% if flight.class_fid %}
  <tr>
    <th scope="row">Seat Class</th>
    <td>
      {{ icons.flight_class_quality(flight.class_quality) }}<br>
      <a href="/classes/{{ flight.class_fid }}.html">{{ flight.class_name }}</a>
    </td>
  </tr>
  {% endif %}
  <tr>
    <th scope="row">Airline</th>
    <td>
      {% if image_path_airline_icon(flight.airline_fid) %}{{ icons.airline(flight.airline_fid) }}<br>{% endif %}
      {% if flight.airline_fid %}<a href="/airlines/{{ flight.airline_fid }}.html">{{ flight.airline_name }}</a>{% else %}None{% endif %}
    </td>
  </tr>
  <tr>
    <th scope="row">Operated By</th>
    <td>
      {% if image_path_airline_icon(flight.operator_fid) %}{{ icons.airline(flight.operator_fid) }}<br>{% endif %}
      {% if flight.operator_fid %}<a href="/airlines/operators/{{ flight.operator_fid }}.html">{{ flight.operator_name }}</a>{% else %}None{% endif %}
    </td>
  </tr>
  {% if flight.codeshare_airline_fid %}
  <tr>
    <th scope="row">Codeshare</th>
    <td>
      {% if image_path_airline_icon(flight.codeshare_airline_fid) %}{{ icons.airline(flight.codeshare_airline_fid) }}<br>{% endif %}
      {{ flight.codeshare_airline_name }}{% if flight.codeshare_flight_number %} {{ flight.codeshare_flight_number }}{% endif %}
    </td>
  </tr>
  {% endif %}
  <tr>
    <th scope="row">Aircraft Type</th>
    <td>{% if flight.aircraft_type_fid %}<a href="/aircraft/{{ flight.aircraft_type_fid }}.html">{{ flight.aircraft_type_manufacturer }} {{ flight.aircraft_type_name }}</a>{% else %}Unknown{% endif %}</td>
  </tr>
  {% if flight.aircraft_name %}
  <tr>
    <th scope="row">Aircraft Name</th>
    <td class="aircraft-name">{{ flight.aircraft_name }}</td>
  </tr>
  {% endif %}
  {% if flight.tail_number %}
  <tr>
    <th scope="row">Tail Number</th>
    <td><a href="/tails/{{ flight.tail_number }}.html">{{ flight.tail_number }}</a></td>
  </tr>
  {% endif %}
  {% if flight.boarding_pass_data %}
  <tr>
    <th scope="row">Boarding Pass</th>
    <td><a href="https://paulbogard.net/boarding-pass-parser/?bptext={{ flight.boarding_pass_data | urlencode }}">(Data)</a></td>
  </tr>
  {% endif %}
</table>
{% endblock content %}
