{% extends "base.html" %}
{% set breadcrumbs=[("Home", "/"), ("Routes", "/routes/"), (route.origin_airport_code ~ " → " ~ route.destination_airport_code, None)] %}
{% block title %}{{ route.origin_airport_code }} &rarr; {{ route.destination_airport_code }}{% endblock %}
{% block content %}
<table class="summary">
  <thead>
    <tr>
      <th>Origin</th>
      <th>Destination</th>
      <th>Distance</th>
      <th>Flights</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{% if route.origin_airport_fid %}<a href="/airports/{{ route.origin_airport_fid }}.html" class="code">{{ route.origin_airport_code }}</a>{% endif %}</td>
      <td>{% if route.destination_airport_fid %}<a href="/airports/{{ route.destination_airport_fid }}.html" class="code">{{ route.destination_airport_code }}</a>{% endif %}</td>
      <td>{% if route.distance_mi %}{{ route.distance_mi }} mi{% endif %}</td>
      <td>{{ flights | length }}</td>
    </tr>
  </tbody>
</table>

<h2>{{ route.origin_airport_code }} &rarr; {{ route.destination_airport_code }} Airlines</h2>
{% include "_partials/airline_table.html" %}

<h2>{{ route.origin_airport_code }} &rarr; {{ route.destination_airport_code }} Operators</h2>
{% include "_partials/operator_table.html" %}

<h2>{{ route.origin_airport_code }} &rarr; {{ route.destination_airport_code }} Aircraft Types</h2>
{% include "_partials/aircraft_type_table.html" %}

<h2>{{ route.origin_airport_code }} &rarr; {{ route.destination_airport_code }} Flights</h2>
{% include "_partials/flight_table.html" %}
{% endblock content %}
