{% extends "base.html" %}
{% block title %}{{ airport.name }}{% endblock %}
{% block content %}
<table class="summary">
  <thead>
    <tr>
      <th>IATA Code</th>
      <th>ICAO Code</th>
      <th>FAA LID</th>
      <th>Visits</th>
      <th>Flights</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><span class="code">{{ airport.iata_code }}</span></td>
      <td><span class="code">{{ airport.icao_code }}</span></td>
      <td><span class="code">{{ airport.faa_lid }}</span></td>
      <td>{{ airport.visits }}</td>
      <td>{{ flights | length }}</td>
    </tr>
  </tbody>
</table>

<h2>{{ airport.iata_code if airport.iata_code else airport.name }} Airlines</h2>
{% include "partials/airline_table.html" %}

<h2>{{ airport.iata_code if airport.iata_code else airport.name }} Operators</h2>
{% include "partials/operator_table.html" %}

<h2>{{ airport.iata_code if airport.iata_code else airport.name }} Aircraft Types</h2>
{% include "partials/aircraft_type_table.html" %}

<h2>{{ airport.iata_code if airport.iata_code else airport.name }} Flights</h2>
{% include "partials/flight_table.html" %}
{% endblock content %}
