{% extends "base.html" %}
{% import "macros/icons.html" as icons %}
{% set breadcrumbs=[("Home", "/"), ("Flights", "/flights/"), (flight.name, None)] %}
{% block title %}{{ flight.name }}{% endblock %}
{% block content %}

<div class="flight-card">
  <!-- Code -->
  <div class="flight-card-airport">
    <span class="flight-card-head">{{ flight.origin_airport_code }}</span><br>
    <a href="/airports/{{ flight.origin_airport_fid }}.html">{{ flight.origin_airport_name }}</a></div>
  <div class="flight-card-airport">
    <span class="flight-card-head">&rarr;</span>
  </div>
  <div class="flight-card-airport">
    <span class="flight-card-head">{{ flight.destination_airport_code }}</span><br>
    <a href="/airports/{{ flight.destination_airport_fid }}.html">{{ flight.destination_airport_name }}</a>
  </div>
  <!-- Local Time -->
  <div class="flight-card-dt-local">{{ flight.departure_local | format_dt(include_time=True, include_tz=True) }}</div>
  <div class="flight-card-dt-local">{% if flight.duration_h_m %}{{ flight.duration_h_m[0] }}h {{ flight.duration_h_m[1] }}s{% endif %}</div>
  <div class="flight-card-dt-local">{{ flight.arrival_local | format_dt(include_time=True, include_tz=True) }}</div>
</div>

<table>
  <tr>
    <th scope="row">Airline</th>
    <td>{{ icons.airline(flight.airline_fid) }} <a href="/airlines/">{{ flight.airline_name }}</a></td>
  </tr>
</table>
{% endblock content %}
