{% extends "base.html" %}
{% import "_macros/icons.html" as icons %}
{% block title %}{{ seat_class.get("name") }} Class{% endblock %}
{% block type %}Seat Class{% endblock %}
{% block content %}
<table class="summary">
  <thead>
    <tr>
      <th>Quality</th>
      <th>Description</th>
      <th>Flights</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ icons.seat_class_quality(seat_class.get("quality")) }}</td>
      <td>{{ seat_class.get("description") }}</td>
      <td>{{ flights | length }}</td>
    </tr>
  </tbody>
</table>

<h2>{{ seat_class.get("name") }} Class Airlines</h2>
{% include "_partials/airline_table.html" %}

<h2>{{ seat_class.get("name") }} Class Operators</h2>
{% include "_partials/operator_table.html" %}

<h2>{{ seat_class.get("name") }} Class Aircraft Types</h2>
{% include "_partials/aircraft_type_table.html" %}

<h2>{{ seat_class.get("name") }} Class Flights</h2>
{% include "_partials/flight_table.html" %}
{% endblock content %}
