{% extends "base.html" %}
{% import "_macros/icons.html" as icons %}
{% block title %}{{ seat_class.get("name") }} Class{% endblock %}
{% block type %}Seat Class{% endblock %}

{% block card_content %}
<p>{{ seat_class.get("description") }}</p>
<div class="card-content-general">
  <div><div class="card-label">Quality</div><div>{{ icons.seat_class_quality(seat_class.get("quality")) }}</div></div>
  <div><div class="card-label">Flights</div><div>{{ flights | length }}</div></div>
</div>
{% endblock %}

{% block content %}

<h2>{{ seat_class.get("name") }} Class Airlines</h2>
{% include "_partials/airline_table.html" %}

<h2>{{ seat_class.get("name") }} Class Operators</h2>
{% include "_partials/operator_table.html" %}

<h2>{{ seat_class.get("name") }} Class Aircraft Types</h2>
{% include "_partials/aircraft_type_table.html" %}

<h2>{{ seat_class.get("name") }} Class Flights</h2>
{% include "_partials/flight_table.html" %}
{% endblock content %}
