{% extends "base.html" %}
{% set breadcrumbs=[("Home", url_for("home")), ("Aircraft Types", url_for("index_aircraft_types")), (aircraft_type.get("name"), None)] %}
{% block title %}{{ aircraft_type.get("manufacturer") }} {{ aircraft_type.get("name") }}{% endblock %}
{% block content %}
<table class="summary">
  <thead>
    <tr>
      <th>IATA</th>
      <th>ICAO</th>
      <th>Flights</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><span class="code">{{ aircraft_type.get("iata_code") }}</span></td>
      <td><span class="code">{{ aircraft_type.get("icao_code") }}</span></td>
      <td>{{ flights | length }}</td>
    </tr>
  </tbody>
</table>

<h2>{{ aircraft_type.get("manufacturer") }} {{ aircraft_type.get("name") }} Airlines</h2>
{% include "_partials/airline_table.html" %}

<h2>{{ aircraft_type.get("manufacturer") }} {{ aircraft_type.get("name") }} Operators</h2>
{% include "_partials/operator_table.html" %}

<h2>{{ aircraft_type.get("manufacturer") }} {{ aircraft_type.get("name") }} Classes</h2>
{% include "_partials/class_table.html" %}

<h2>{{ aircraft_type.get("manufacturer") }} {{ aircraft_type.get("name") }} Flights</h2>
{% include "_partials/flight_table.html" %}
{% endblock content %}
