{% extends "base.html" %}
{% block title %}{{ aircraft_type.full_name() }}{% endblock %}
{% block type %}Aircraft Type{% endblock %}

{% block card_content %}
<div class="card-content-general">
  {% if aircraft_type.get("iata_code") is not none %}<div><div class="card-label">IATA Code</div><div>{{ aircraft_type.get("iata_code") }}</div></div>{% endif %}
  {% if aircraft_type.get("icao_code") is not none %}<div><div class="card-label">ICAO Code</div><div>{{ aircraft_type.get("icao_code") }}</div></div>{% endif %}
  <div><div class="card-label">Flights</div><div>{{ flights | length }}</div></div>
</div>
{% endblock %}

{% block content %}

<h2>{{ aircraft_type.full_name() }} Airlines</h2>
{% include "_partials/airline_table.html" %}

<h2>{{ aircraft_type.full_name() }} Operators</h2>
{% include "_partials/operator_table.html" %}

<h2>{{ aircraft_type.full_name() }} Classes</h2>
{% include "_partials/class_table.html" %}

<h2>{{ aircraft_type.full_name() }} Flights</h2>
{% include "_partials/flight_table.html" %}
{% endblock content %}
