{% extends "base.html" %}
{% block title %}{{ aircraft_type.full_name() }}{% endblock %}
{% block type %}Aircraft Type{% endblock %}
{% block content %}
<table class="summary">
  <thead>
    <tr>
      <th>IATA</th>
      <th>ICAO</th>
      <th>Flights</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><span class="code">{{ aircraft_type.get("iata_code") }}</span></td>
      <td><span class="code">{{ aircraft_type.get("icao_code") }}</span></td>
      <td>{{ flights | length }}</td>
    </tr>
  </tbody>
</table>

<h2>{{ aircraft_type.full_name() }} Airlines</h2>
{% include "_partials/airline_table.html" %}

<h2>{{ aircraft_type.full_name() }} Operators</h2>
{% include "_partials/operator_table.html" %}

<h2>{{ aircraft_type.full_name() }} Classes</h2>
{% include "_partials/class_table.html" %}

<h2>{{ aircraft_type.full_name() }} Flights</h2>
{% include "_partials/flight_table.html" %}
{% endblock content %}
