{% import "macros/icons.html" as icons %}
<table>
  <thead>
    <tr>
      <th class="rank">#</th>
      <th colspan="2">Flight</th>
      <th class="flight-route">Route</th>
      <th class="departure">Departure</th>
    </tr>
  </thead>
  <tbody>
    {% for flight in flights %}
    <tr{% if not loop.last and flight.trip_fid == loop.nextitem.trip_fid and flight.trip_section == loop.nextitem.trip_section %} class="continue"{% endif %}>
      <td class="rank">{{ loop.index }}</td>
      <td>{{ icons.airline(flight.airline_fid) }}</td>
      <td><a href="/flights/{{ flight.fid }}.html">{{ flight.name }}</a></td>
      <td class="flight-route">{% if airport and airport.fid == flight.origin_airport_fid %}<span class="code current-airport">{{ flight.origin_airport_code }}</span>{% else %}<a href="/airports/{{ flight.origin_airport_fid }}.html" class="code">{{ flight.origin_airport_code }}</a>{% endif %} &rarr; {% if airport and airport.fid == flight.destination_airport_fid %}<span class="code current-airport">{{ flight.destination_airport_code }}</span>{% else %}<a href="/airports/{{ flight.destination_airport_fid }}.html" class="code">{{ flight.destination_airport_code }}</a>{% endif %}</td>
      <td class="departure">{{ flight.departure_local | format_dt(include_time=False) }}</td>
    </tr>
    {% endfor %}
    <tr class="total">
      <td colspan="5">{{ flights | length }} flight{% if (flights | length) != 1 %}s{% endif %}</td>
    </tr>
  </tbody>
</table>