<table>
  <thead>
    <tr>
      <th class="rank">#</th>
      <th>Tail</th>
      <th>Equipment</th>
      <th class="count">Flights</th>
    </tr>
  </thead>
  <tbody>
    {% for tail in tails %}
    <tr>
      <td class="rank">{% if loop.first or tail.rank != loop.previtem.rank %}{{ tail.rank }}{% else %}⋮{% endif %}</td>
      <td>{{ tail.tail_number }}</td>
      <td>{{ tail.aircraft_type_name }}</td>
      <td class="count">{{ tail.count }}</td>
    </tr>
    {% endfor %}
    <tr class="total">
      <td colspan="4">{{ tails | length }} tail number{% if (tails | length) != 1 %}s{% endif %}</td>
    </tr>
  </tbody>
</table>